
<!-- <div>
  <h1>My Goals</h1>
  <hr>
  <ul>
    <li *ngFor='let goal of goals'>
      {{goal.name}}=>
      
      <app-goaldetail [goal]='goal'></app-goaldetail>
    </li>
  </ul>
</div> -->
<h1>My Goals</h1>
<hr>
<ul>
  <div *ngFor='let goal of goals;let i = index'>
    <li appStrikethrough>{{goal.id}}.{{goal.name}} due on {{goal.completeDate|date|uppercase}}</li>
    <button (click)='toggleDetails(i)' class="btn btn-outline-success">Toggle Details</button>
    <!-- <app-goaldetail *ngIf='goal.showDescription' [goal]='goal' (isComplete) ='completeGoal($event,i)' ></app-goaldetail> -->
    <app-goaldetail *ngIf='goal.showDescription' [goal]='goal' (isComplete) ='deleteGoal($event,i)' ></app-goaldetail>
  </div>
</ul>
<div class="col-md-6">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
 </div>
<p *ngIf='goals.length > 5'>You have too many goals</p>